.element__like {
    width: 22px;
    height: 19px;
    box-sizing: border-box;
    border: none;
    cursor: pointer;
    padding: 0;
    margin: 30px 20px;
    background-image: url(../../../images/Like.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-color: #FFFFFF;
    transition: opacity .3s ease;
    justify-content: center;     
}

.element__like:hover {
    opacity: 0.6;
    }

.element__like:active {
    background-image: url(../../../../images/like_active.svg);
    outline: none;
    background-size: contain; 
}   