.form__fieldset {
    max-width: 210px;
    padding: 0;
    margin: 0;
    border: none;
    text-align: center;
 
  }
  
  @media screen and (min-width: 320px)and (max-width: 767px) {
    .form__fieldset { 
        max-width: 210px;   
     }
    }