.popup__close-button {
    position: absolute;
    top: -35px;
    right: -35px;
    left: initial;
    width: 40px;
    height: 40px;
    background-image: url(../../../images/CloseIcon.svg);
    background-position: center;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: opacity .3s ease;
}

.popup__close-button:hover {
    opacity: .6;
    transition: opacity 0.5s; 
}

@media screen and (min-width: 320px)and (max-width: 767px) {
    .popup__close-button { 
        top: -30px;
        left: initial;
        right: 0;
        width: 26px;
        height: 26px;
     }
    }

    .popup_image .popup__close-button {
        top: -25px;
        right: 0px;
    }

    @media screen and (min-width: 320px)and (max-width: 767px) {
        .popup_image .popup__close-button { 
            top: -20px;
            right: 40px;
         }
        }